<!--300990910 Manthan Shah 16/02/2019 -->
<% include ../partials/header.ejs %>

<img src="pic.jpg" alt="Responsive image">
      <p style="margin-left:20% ; margin-top:-230px ; font-size:20px">Hello. I am Manthan Shah. Currently, I am pursuing advanced diploma in Software Engineering at Centennial College. I have completed bachelor's degree in Information Technology.
      During my bachelor's degree, I developed interest in quality testing and assurance. My focus for the life is to get a white collar job in the software industry as a quality analyst.
      <p style ="margin-left:20% ; margin-top:0px ; font-size:20px">Industrial Qualities: Dedicated, Competitive, Hard working, Adaptable, Innovative, Capable and Determined.<br><br><br>
      <p style ="margin-left:20% ; margin-top:-60px ; font-size:20px">Hobbies: Volleyball and Cricket.<br><br><br>
       <a class="btn btn-primary" href="https://drive.google.com/open?id=1e-LsL0IZ1KUh4q7BR4MnkS8T3t4xttqb" role="button">Resume</a>

<% include ../partials/footer.ejs %>