<!--300990910 Manthan Shah 16/02/2019 -->
<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p style = "font-size:20px">To prosecute a highly ambitious career, where I can use my experience and education to help the company meet and surpass its goals and want to excel in this field with hard work, perseverance and dedication in order to be the part of success in the environment of growth and excellence.</p>
      <a class="btn btn-primary" href="/about" role="button">About Me</a>
    </div>
</div>

<% include ../partials/footer.ejs %>