<!--300990910 Manthan Shah 16/02/2019 -->
<% include ../partials/header.ejs %>

<div>
<div id = "first">
<img src = "TtcPay_portfoliol.png" height = "300px" width = "500px" alt="Responsive image">
<p style="margin-left:40% ; margin-top:-280px ; font-size:20px"><b><u>TTCPay:</b></u></p>
<p style="margin-left:40% ; margin-top:-18px ; font-size:20px">TTC offers paper tickets, tokens and PRESTO as valid ticketing proof. 
While boarding to bus sometimes people forgot to buy tickets and then they have to purchase ticket from driver by putting coins in box. 
And at that area they face a big problem as no change/ coins available.
To overcome this issue, our team proposes a solution to develop an android application named as “TTCPay” where people can buy digital tickets and passes. 
This app will allow users to check their ticket history, buy tickets online and leaving behind the hustle of carrying coins to pay the fare while boarding.
By using this application, people have no need to carry PRESTO card or paper-ticket.

</div>
<div id = "second">
<img src = "Scrnsht 1_portfoliol.png" height = "295px" width = "500px" alt="Responsive image">
<p style="margin-left:40% ; margin-top:-305px ; font-size:20px"><b><u>Iguana:</b></u></p>
<p style="margin-left:40% ; margin-top:-18px ; font-size:20px">This is the component of HL7 which works opn health and informatics.
We can creata a channel that can read HL7 messages from a file/directory. We only need to deliver ADT messages. We need to set the MSH 
"Sending Application" field to "First Steps". We need to set the MSH "Sending Facility" field to your first and last name. There is destination 
component which sends file to the destination. Iguana has a built-in logging environment to keep track of messages, errors, and
warnings. From the Logs screen you can instantly query for information, resubmit
messages and load data directly into a Translator (which is great for debugging). 
</div>

    <div id= "third">
    <img src = "pr3_portfoliiol.png" height = "320px" width = "500px" alt="Responsive image">
<p style="margin-left:40% ; margin-top:-320px ; font-size:20px"><b><u>Survey Paper:</b></u></p>
<p style="margin-left:40% ; margin-top:-18px ; font-size:20px">This paper focuses on the intelligent object cutting approach for optimizing manufacturing
problem in manufacturing industries. The main motive behind inscribing this paper is to scale back or minimize the wastage from the unessential cutting of 
stuff because it has been a key issue. In other words, minimizing the wastage and maximizing the profit is the main goal. As per the current scenario in the 
manufacturing industries, the manufacturers are observing a huge loss of materials resulting in minimized profit. So, in order to overcome this problem an 
algorithm must be designed which gives an optimal solution for object cutting problem.
    </div>
</div>
<% include ../partials/footer.ejs %>